---
const { logo, dates, role, company, description, hideLogo } = Astro.props
---

<div id="experience" class="relative flex flex-col justify-start pl-12">
  {
    !hideLogo ? (
      <div class="absolute top-0 left-0 z-40 flex items-center justify-center -translate-x-1/2 bg-white border rounded-full dark:bg-neutral-950 w-14 h-14 border-neutral-300 dark:border-neutral-700">
        <img src={logo} alt={company} class="w-8 h-8" />
      </div>
    ) : null
  }
  <p
    class="text-xs uppercase text-neutral-400 dark:text-neutral-500 trackign-widest"
  >
    {dates}
  </p>
  <div class="space-y-0 mb-3">
    <h3 class="text-lg font-bold dark:text-neutral-100">{role}</h3>
    <p class="text-base font-medium dark:text-neutral-300">{company}</p>
  </div>
  <div class="flex flex-col gap-1">
    <p class="text-sm font-normal text-neutral-600 dark:text-neutral-400">
      <span class="font-semibold">Challenge:</span>
      <Fragment set:html={description.challenge} />
    </p>
    <p class="text-sm font-normal text-neutral-600 dark:text-neutral-400">
      <span class="font-semibold">Action:</span>
      <Fragment set:html={description.action} />
    </p>
    <p class="text-sm font-normal text-neutral-600 dark:text-neutral-400">
      <span class="font-semibold">Result:</span>
      <Fragment set:html={description.result} />
    </p>
  </div>
</div>

<style is:global>
  #experience strong {
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }
</style>
