---
import Project from "../components/project.astro"
import { pinnedPortfolio } from "../utils/portfolio"

interface Props {
  count: number
  className?: string
}

const { count, className = "" } = Astro.props

const portfolio = count ? pinnedPortfolio.slice(0, count) : pinnedPortfolio

console.log(portfolio.map((p) => p.data.title))
---

<div
  class="grid w-full grid-rows-1 grid-cols-1 sm:grid-cols-2 gap-7 md:grid-cols-3"
  class:list={[className]}
>
  {
    portfolio.map((project: any, index: number) => {
      return (
        <Fragment>
          <Project
            name={project.data.title}
            description={project.data.description}
            image={project.data.image}
            company={project.data.company}
            slug={project.slug}
            layout="card"
            hrefBase="portfolio"
          />
        </Fragment>
      )
    })
  }
</div>
