---
import { latestPortfolio } from "../utils/projects"
import Project from "../components/project.astro"

const { count, className = "" } = Astro.props

const portfolio = count ? latestPortfolio.slice(0, count) : latestPortfolio
---

<div
  class="grid items-stretch w-full grid-cols-1 sm:grid-cols-2 gap-7 md:grid-cols-3"
  class:list={[className]}
>
  {
    portfolio.map((portfolioItem) => {
      console.log(portfolioItem)
      return (
        <Project
          name={portfolioItem.data.title}
          description={portfolioItem.data.description}
          image={portfolioItem.data.image}
          company={portfolioItem.data.company}
          slug={portfolioItem.slug}
          layout="card"
        />
      )
    })
  }
</div>
