---
import { pinnedSideProjects } from "../utils/side-projects"
import SideProject from "../components/side-project.astro"

interface Props {
  count: number
  className?: string
}

const { count, className = "" } = Astro.props

const sideProjects = count
  ? pinnedSideProjects.slice(0, count)
  : pinnedSideProjects
---

<div
  class="grid w-full grid-rows-1 grid-cols-1 sm:grid-cols-2 gap-7 md:grid-cols-[1fr_1px_1fr_1px_1fr]"
  class:list={[className]}
>
  {
    sideProjects.map((project: any) => {
      return (
        <>
          <SideProject
            name={project.data.title}
            description={project.data.description}
            image={project.data.image}
            company={project.data.company}
            slug={project.slug}
            layout="card"
            hrefBase="side-projects"
          />
          <div class="h-px w-full sm:hidden md:block md:h-full md:w-px dividerline-bg last:hidden" />
        </>
      )
    })
  }
</div>
