---
import { latestPortfolio } from "../utils/projects"
import Project from "../components/project.astro"
import BrandSeparator from "../components/brand-separator.astro"

const { count, company, brandLogo, className = "" } = Astro.props

let projectsList
projectsList = company
  ? latestPortfolio.filter((project) => project.data.company === company)
  : latestPortfolio

projectsList = count ? projectsList.slice(0, count) : projectsList
---

{company ? <BrandSeparator text={company} brandLogo={brandLogo} /> : null}
<div
  class="grid items-stretch w-full grid-cols-1 gap-7"
  class:list={[className]}
>
  {
    projectsList.map((project) => {
      return (
        <Project
          name={project.data.title}
          description={project.data.description}
          image={project.data.image}
          company={project.data.company}
          slug={project.slug}
          layout="list"
        />
      )
    })
  }
</div>
