---
import { latestPosts } from "../utils/posts"
const { count } = Astro.props
const postsLoop = latestPosts.slice(0, count)

const hoverStyle =
  "group-hover:shadow-neutral-100 dark:group-hover:shadow-black group-hover:border-white dark:group-hover:border-neutral-800 group-hover:shadow-lg group-hover:translate-x-1"
---

<div class="divide-y dividerline">
  {
    postsLoop.map(({ slug, data }) => {
      return (
        <div
          class="relative cursor-pointer group py-4 first:pt-0 last:pb-0 grid grid-rows-1 grid-cols-12 gap-4 justify-items-end"
          onclick={`location.href = '/blog/${slug}'`}
        >
          <div class="col-span-12 sm:col-span-9">
            <h2 class="flex items-start gap-1 mb-3">
              <a
                href={`/blog/${slug}`}
                class="text-xl font-bold leading-tight tracking-tight sm:text-2xl dark:text-neutral-100"
              >
                {data.title}
              </a>
            </h2>
            <p class="text-sm text-neutral-600 dark:text-neutral-400">
              <span>{data.excerpt}</span>
            </p>
            <div class="mt-2.5 text-xs text-neutral-500 dark:text-neutral-500">
              {data.publishDate}
            </div>
          </div>

          <div class="flex col-span-12 sm:col-span-3">
            <img
              src={data.image}
              class="rounded-xl sm:size-36 object-cover transition-all duration-300 ease-out border-2 border-solid border-transparent"
              class:list={[hoverStyle]}
            />
          </div>
        </div>
      )
    })
  }
</div>
