---
import { latestPortfolio } from "../utils/portfolio"
import { latestSideProjects } from "../utils/side-projects"
import SideProject from "../components/side-project.astro"
import BrandSeparator from "../components/brand-separator.astro"

interface Props {
  count?: number
  className?: string
  company?: string
  brandLogo?: string
}

const { count, company, brandLogo, className = "" } = Astro.props

let portfolio
portfolio = company
  ? latestPortfolio.filter((project) => project.data.company === company)
  : latestPortfolio

portfolio = count ? portfolio.slice(0, count) : portfolio

const sideProjects = count
  ? latestSideProjects.slice(0, count)
  : latestSideProjects

const collection = sideProjects

const hrefBase = "side-projects"
---

{company ? <BrandSeparator text={company} brandLogo={brandLogo} /> : null}
<div
  class="divide-y dividerline"
  class:list={[className, !company ? "mt-20" : ""]}
>
  {
    collection.map((project: any) => {
      return (
        <div class="py-4 first:pt-0">
          <SideProject
            name={project.data.title}
            description={project.data.description}
            image={project.data.image}
            company={project.data.company ?? project.data.domains}
            slug={project.slug}
            hrefBase={hrefBase}
            layout="list"
          />
        </div>
      )
    })
  }
</div>
