---
import { latestPosts } from "../utils/posts"
const { count } = Astro.props
const postsLoop = latestPosts.slice(0, count)
---

<div class="divide-y divide-neutral-100 my-8">
  {
    postsLoop.map(({ slug, data }) => {
      return (
        <div
          class="relative cursor-pointer group py-4"
          onclick={`location.href = '/blog/${slug}'`}
        >
          <div class="relative">
            <h2 class="flex items-start gap-4 mb-3">
              <a
                href={`/blog/${slug}`}
                class="text-xl font-bold leading-tight tracking-tight sm:text-2xl dark:text-neutral-100"
              >
                {data.title}
              </a>
              <svg
                class="group-hover:translate-x-0 flex-shrink-0 translate-y-2.5 -translate-x-1 w-4 h-4 stroke-current ml-1 transition-all ease-in-out duration-200  transform"
                viewBox="0 0 13 15"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <g
                    id="svg"
                    transform="translate(0.666667, 2.333333)"
                    stroke="currentColor"
                    stroke-width="2.4"
                  >
                    <g>
                      <>
                        <polyline
                          class="transition-all duration-200 ease-out opacity-0 delay-0 group-hover:opacity-100"
                          points="5.33333333 0 10.8333333 5.5 5.33333333 11"
                        />
                        <line
                          class="transition-all duration-200 ease-out transform -translate-x-1 opacity-0 group-hover:translate-x-0 group-hover:opacity-100 group-hover:ml-0"
                          x1="10.8333333"
                          y1="5.5"
                          x2="0.833333333"
                          y2="5.16666667"
                        />
                      </>
                    </g>
                  </g>
                </g>
              </svg>
            </h2>
            <p class="text-sm text-neutral-600 dark:text-neutral-400">
              <span>{data.excerpt}</span>
            </p>
            <div class="mt-2.5 text-xs text-neutral-500 dark:text-neutral-500">
              {data.publishDate}
            </div>
          </div>
        </div>
      )
    })
  }
</div>
