---
import { latestPortfolio } from "../utils/projects"
import Project from "../components/project.astro"
import BrandSeparator from "../components/brand-separator.astro"

const { count, company, brandLogo, className = "" } = Astro.props

let projectsList
projectsList = company
  ? latestPortfolio.filter((project) => project.data.company === company)
  : latestPortfolio

projectsList = count ? projectsList.slice(0, count) : projectsList
---

{company ? <BrandSeparator text={company} brandLogo={brandLogo} /> : null}
<div class="divide-y dividerline" class:list={[className]}>
  {
    projectsList.map((project) => {
      return (
        <div class="py-4 first:pt-0">
          <Project
            name={project.data.title}
            description={project.data.description}
            image={project.data.image}
            company={project.data.company}
            slug={project.slug}
            layout="list"
          />
        </div>
      )
    })
  }
</div>
